# Directories
trash/
data/
namelists/
logs/
outputs/
plots/
restart_files/
.ipynb_checkpoints/
.Rproj.user/
__pycache__/

# File types
*.html
*.csv
*.xlsx
*.png
*.zip
*.nc
*.nml

# Specific files
cable
new_sumbal
cable_utils.py
seasonal_plot.py
run_cable_all_exp.py
plot_timeseries_comparison_manon_tuzet.py
plot_water_potentials_surviving_and_dying.py

.DS_Store
.Rhistory
