*.zip
.Rproj.user
*.nc
.DS_Store
.Rhistory
data/
*.csv
*.xlsx
*.png
namelists/
logs/
outputs/
plots/
.ipynb_checkpoints
cable
new_sumbal
cable_utils.py
run_cable_site.py
seasonal_plot.py
run_cable_all_exp.py
plot_timeseries_comparison_manon_tuzet.py
plot_water_potentials_surviving_and_dying.py
__pycache__
restart_files
*.html
trash/